{% load i18n %}
{% if ticket %}
    <div class="col">
        <div class="card shadow-sm px-4 py-2">

            <h1 class="text-center fs-3">{{ ticket.title }}</h1>
            <div class="text-center">
                {% if ticket.image %}
                    <img class="bd-placeholder-img card-img"
                         style="max-width: 300px; max-height: 500px; width:auto; height:auto"
                         src="{{ ticket.image.url }}"
                         role="img" focusable="false"></div>
                {% endif %}
            <div class="card-body">
                <p class="card-text">{{ ticket.description }}</p>

                {% if not ticket.answered and 'post_review' not in request.environ.PATH_INFO %}
                    <div class="text-end my-3">
                        <a type="button" class="btn btn-primary" href="{% url 'post_review' ticket_id=ticket.id %}">
                            {% translate "Post a review" %}
                        </a>
                    </div>
                {% elif ticket.answered and not review %}
                    <div class="text-end my-3">
                        <a type="button" class="btn btn-secondary" href="
{% url 'view_review' ticket.review_set.last.id %}">
                            {% translate "View the review" %}
                        </a>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                        {% if ticket.user == user %}
                            <a class="btn btn-sm btn-outline-secondary" href=
                                    "{% url 'create_ticket' ticket_id=ticket.id %}">{% translate "Modify" %}</a>
                            <form action="{% url 'delete_ticket' %}">
                                {% csrf_token %}
                                <input type="hidden" name="delete_ticket_id" value="{{ ticket.id }}">
                                <input type="submit" class="btn btn-sm btn-outline-danger"
                                       value="{% translate "Delete" %}">
                            </form>
                        {% else %}
                            <small class="text-muted">{{ ticket.user }}
                                {% translate "asked for a review" %}
                            </small>
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ ticket.time_created }}</small>
                </div>
            </div>
        </div>
    </div>
{% endif %}
