{% extends 'index.html' %}
{% block content %}

    {% for post in posts %}
        <div class="container row my-4">

        {% if post.content_type == 'TICKET' %}
            {% with post as ticket %}
            {% include 'ticket/ticket.html' %}
            {% endwith %}
        {% elif post.content_type == 'REVIEW' %}
            {% with post as review %}
                {% include 'review/review.html' %}
            {% endwith %}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}