{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
    <div class="row justify-content-center">

        <div class="col-12 col-md-6 text-center my-5">

            <h3>{% translate "Follow New Users" %}</h3>
            <form method="post" class="text-start mb-4" action="{% url 'list_subscriptions' %}">
                {% csrf_token %}
                <input name="follower" type="search" class="form-control" placeholder="Search..." aria-label="Search">

            </form>

            {% if find_followers %}
                <div>
                    {% for find_follower in find_followers %}
                        <form class=" d-flex align-items-center justify-content-center" method="post" action=
                                "{% url 'list_subscriptions' %}">
                            <tr>{{ find_follower }}
                                {% csrf_token %}
                                <input type="hidden" name="subscribe" value="{{ find_follower.id }}">
                                <input type="submit" class="bg-transparent border-0 material-symbols-outlined text-success
                            text-decoration-none" value="done">
                            </tr>
                        </form>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-around">
        {% if followed_users %}
            <div class="col-12 col-md-6 text-center my-5">
                <h3>{% translate "Followed Users" %}</h3>
                <table class="table mb-5">
                    {% for followed_user in followed_users %}
                        <tr>
                            <form method="post"
                                  action="{% url 'list_subscriptions' %}">
                                <td class="d-flex align-items-center justify-content-center"
                                >{{ followed_user.followed_user }}
                                    {% csrf_token %}
                                    <input type="hidden" name="unscribe" value="{{ followed_user.id }}">
                                    <input type="submit" class="bg-transparent border-0 material-symbols-outlined
                                text-danger
                                text-decoration-none" value="close">
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}


        {% if followers %}
            <div class="col-12 col-md-6 text-center my-5">
                <h3>{% translate "Followers" %}</h3>
                <table class="table">
                    {% for follower in followers %}
                        <tr>
                            <td>{{ follower.user }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

{% endblock %}